
.footer_text{

    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
   
}

.images{
    /* background-color: aqua; */
    position: relative;
}
.im{
    position: relative;
    padding-left: 150px;
    
    
}
.nav_bar{
    text-align: center;
}
table
{
    width: 1100px;
}
td,th{
    padding: 20px;
}
th{
    background-color:gainsboro;
}
td{
    text-align: center;
}
#admissionRow{
    background-color:darkgray;

}
